/* Estilos para el header */
header {
    background-image: url(img/fondo-hero.jpg);
    background-size: cover;            
    background-position: center;     
    min-height: 100vh;                                         
}

header div.tit-barra {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

h1 span {
    color: rgb(255, 238, 0);
} 

/* Estilos para la navegación */
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0px;
    padding: 0 0 10px 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu a {
    display: block;
    width: 250px; 
    padding: 10px 0; 
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
}  

nav a:hover {
    background-color: rgba(20, 20, 20, 0.452);
}

/* Estilos para el contenedor de destinos en el header */
.con-destinos {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.534);
    min-height: 300px;
    width: 70%;
    margin: 30px auto;
    padding: 0 20px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.con-destinos a {
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.747);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    width: 150px;
    margin-bottom: 10px;
}

.con-destinos h2, .con-destinos h3 {
    color: rgb(0, 140, 255);
}

/* Estilos para el footer */
footer {
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 10px;
    border-top: 10px solid black;
}

footer table, footer th, footer td {
    border: 1px solid white;
    border-collapse: collapse;
}

.tabla-horarios {
    margin: 0 auto;
}

.a-footer {
    text-decoration: none;
    color: rgb(0, 153, 255);
    font-weight: 600;
}

footer div {
    margin: auto 0;
    text-align: center;
}

.align-contact {
    text-align: left;
}

@media screen and (min-width: 480px) {
    header div.tit-barra {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        justify-content:space-evenly;
    }
    .menu a {
        width: 80px;
    }
    h1{
        font-size: 40px;
        text-shadow: 10px 10px 5px black;
    }
    .flex-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (min-width: 1024px){
    .width-div{
        width: 500px;
    }
}